pygame
pygame_gui
pygamecards
# Existe un conflicto de dependencias; es necesario seguir estrictamente el orden de instalación indicado en el archivo README.md.

requests
pillow
opencv-python
tqdm
graphviz

flask
flask-socketio
eventlet

